<% @bookmarks.each do |bookmark| %>
 <a href=<%= bookmark.url %>><%= bookmark.title %></a>
<% end %>


<form action="/bookmarks" method="POST">
    <label for="url">Enter url</label>
    <input type="text" name="url">
    <label for="title">Enter title</label>
    <input type="text" name="title">
    <input type="submit" value="submit">
</form>
